{{page-title "Contacts"}}

<div class="container">
    <p class="bg-primary">Contacts</p>
    <table>
        <thead>
            <tr>
                <td>Nom</td>
                <td>Prenom </td>
                <td> Email</td>
            </tr>
        </thead>

        <tbody>
            {{#each @model.contacts as |contact|}}
            <tr>
                <td>{{contact.nom}}</td>
                <td>{{contact.prenom}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <LinkTo @route="contacts.update">
                        <i class="far fa-edit"></i>update
                    </LinkTo>
                    <button type="button" {{action 'delete' contact}} class="btn btn-primary btn-sm">
                        <i class="bi bi-trash"></i>Delete
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>

        <tfoot>
            <tr>
                <td>
                    <LinkTo @route="contacts.add">Ajouter</LinkTo>
                    {{#if @model.deletedsCount}}
                    <button type="button" class="btn btn-danger" {{action "cancelDeletion" @model.deleteds }}>Annuler la
                        suppression ({{@model.deletedsCount}})</button>
                    {{/if}}
                </td>
            </tr>
        </tfoot>

    </table>
</div>
{{outlet}}