{{page-title "Ex2"}}

<main>
    <h1>Services</h1>

<div class="info">
    <p>Choisissez les éléments à inclure <br>
        <b>{{@model.countActive}} services sélectionnés</b>
    </p>
</div>


<ul>
    {{#each @model.services as | serv |}}
    <li  class={{if serv.active "active"}} ><span>
            {{serv.name}}
        </span>
        <span>
            {{serv.price}}
        </span>
    </li>
    {{/each}}

</ul>
<div class="total">
    <span>Total : </span>
    <span>{{@model.sumActive}}</span>
</div>
</main>

{{outlet}}