{{page-title "Sections"}}

<div class="ui container">
    <h1>Store</h1>

    <fieldset>
        <legend>Gestion des sections</legend>

        <div>
            <LinkTo @route="sections.add" class="ui green button">Nouvelle section</LinkTo>
            <LinkTo @route="sections.addProduct" class="ui green button">Nouveau
                produits</LinkTo>
        </div>
        <h2>Sections ({{@model.length}})</h2>
        {{outlet}}
        <table class="ui very basic collapsing celled table">
            {{#each @model as |section|}}
            <tr>
                <td>
                    <h4>{{section.name}}</h4>

                </td>
                <td>
                    {{section.description}}
                </td>
                <td>
                    <p>{{ section.products.length }}</p>
                </td>
                <td>
                    <LinkTo @route="sections.edit" @model={{section.id}} class="ui blue button"><i
                            class="edit icon"></i></LinkTo>
                </td>
                <td><button class="ui red button">
                        <i class="remove icon"></i>
                    </button></td>
            </tr>


            {{/each}}

        </table>

    </fieldset>


</div>