{{page-title "Step1"}}
<h1>Selectionnez vos produits</h1>

<main>
<div>
    <p>Produits Disponibles:</p>
        <MultiSelect @elements={{this.dispoItems}} @selected={{this.dispoItemsIds_}} />

</div>
<div class="button-container">
    <button type="button" {{on 'click' this.addToIncluded}}>Ajouter</button>
    <button type="button" {{on 'click' this.addAllToIncluded}}>Ajouter tous</button>

    <button type="button" {{on 'click' this.removeFromIncluded}}>Retirer</button>
    <button type="button" {{on 'click' this.removeAllFromIncluded}}>Retirer tous</button>
</div>

<div>
    <p>Produits Selectionnés:</p>
    <MultiSelect @elements={{this.includeItems}} @selected={{this.includedItemsIds_}} />

</div>

</main>
{{outlet}}